.Ventas {
  flex-grow: 1;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-y: auto; /* 🔹 habilita scroll */
  scroll-behavior: smooth; /* 🔹 scroll suave */
}

H1 {
  font-family: monospace;
  font-size: 80px;
  color: black;
  margin: 25px 0px;
  margin: 0rem;
}

.Botones {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  width: 100%;
}

.contenedor_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  padding: 8px 12px;
  font-family: "Nova Square", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  position: relative;
  gap: 8px;
}

.fechaInicio,
.fechaFin {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: none;
}

.TablaVentas {
  background-color: #c7db9c;
  width: 95%;
  margin: 2rem 0;
  padding: 15px;
  border-radius: 15px;
  overflow-x: auto;
  flex-shrink: 0; /* evita que se reduzca al hacer scroll */
}

.Tabla {
  width: 100%;
  border-collapse: collapse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Tabla th,
.Tabla td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.Tabla th {
  background-color: #c7db9c;
  font-weight: bold;
}

.panel {
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -60%); /* <-- CENTRADO REAL */
  background-color: white;
  color: black;
  width: 50rem;
  height: 30rem;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  opacity: 0;


  transition:
  transform  0.3s ease,
  opacity 0.3s ease;
}

/* Estado oculto */
.panel-closed {
  transform: translate(-50%, -60%);
  opacity: 0;
  pointer-events: none;
}

/* Estado visible */
.panel-open {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.contenidoP{
 display:flex;
 flex-direction:column;
 background-color: white;
 height: 100%;
}

.contenidoP button{
   margin-top: auto;
   margin-bottom: 1rem;
   width: 10rem;
   align-self: center;
}

.contenidoP h1 {
  font-size: 1.5rem;
  align-self: flex-start;
  margin:0rem;
  padding:0rem;
  font-family: 'monospace';
  margin-bottom: 0.5rem ;
}

.contenidoP h2 {
  font-size: 1.1rem;
  align-self: flex-start;
  margin:0rem;
  padding:0rem;
}

