.inventario {
  flex-grow: 1;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.inventario h1 {
  font-family: monospace;
  font-size: 80px;
  color: black;
  margin: 25px 0px;
}

#cont {
  width: 97%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.buscador {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #333;
  background-color: #fff0bd;
  border-radius: 10px;
}

.buscador input {
  width: 80%;
  height: 60%;
  outline: none;
  background-color: #ffffff;
  border: 1px solid #333;
  color: #333;
  font-size: 15px;
  border-radius: 10px;
}

.buscador svg {
  padding-left: 5px;
}

#cont button {
  font-size: 20px;
}

#cont-select {
  position: relative;
  display: inline-block;
  width: 130px;
}

#cont-select select {
  width: 100%;
  font-size: 23px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #fff0bd;
  color: #333;
  cursor: pointer;
  padding: 8px 30px 8px 10px;
  transition: border-color 0.3s ease;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

#cont-select::after {
  content: "▼";
  font-size: 24px;
  color: #333;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-53%);
  pointer-events: none;
}

#select option {
  background-color: #333;
  color: #fff0bd;
}

#select:hover {
  background-color: #333;
  color: #fff0bd;
}

#cont-select:hover::after {
  color: #fff0bd;
}

/* Estilos del modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-contenedor {
  background-color: #fff0bd;
  width: 50%;
  height: 85%;
  max-width: 90%;
  max-height: 90%;
  padding: 20px;
  position: relative;
  justify-items: center;
  overflow: none;
  border-radius: 15px;
}

.modal-contenido {
  background: #c7db9c;
  padding: 20px;
  border-radius: 12px;
  width: 90%;
  height: 93%;
  overflow: none;
  position: relative;
  text-align: center;
}

.bloque {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bloque label {
  width: 30%;
  text-align: start;
}

.bloque input {
  width: 60%;
}

.image-upload {
  background: #d9d9d9;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  width: 50%;
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.image-upload input[type="file"] {
  display: none;
}

.image-upload label {
  font-size: 20px;
  color: #777;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px 0px;
  border-radius: 10px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.formulario label {
  font-weight: bold;
  color: #333;
  font-family: sans-serif;
  font-size: 18px;
}

.formulario input {
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  background-color: #fff0bd;
  color: #333;
  width: 50%;
  font-size: 18px;
  outline: none;
}

.formulario input:hover {
  background-color: #333;
  color: #fff0bd;
}

#cont-select-form select {
  width: 100%;
  font-size: 22px;
  border-radius: 8px;
  background-color: #fff0bd;
  color: #333;
  cursor: pointer;
  padding: 8px 160px 8px 10px;
  transition: border-color 0.3s ease;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

#cont-select-form::after {
  content: "▼";
  font-size: 24px;
  color: #333;
  position: absolute;
  right: 90px;
  top: 68%;
  transform: translateY(-70%);
  pointer-events: none;
}

#select-form {
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #333;
  background-color: #fff0bd;
  width: 50%;
  font-size: 20px;
}

#select-form option {
  background-color: #333;
  color: #fff0bd;
}

#select-form:hover {
  background-color: #333;
  color: #fff0bd;
}

#cont-select-form:hover::after {
  color: #fff0bd;
}

#cont-select-form2 select {
  width: 100%;
  font-size: 22px;
  border-radius: 8px;
  background-color: #fff0bd;
  color: #333;
  cursor: pointer;
  padding: 8px 235px 8px 10px;
  transition: border-color 0.3s ease;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

#cont-select-form2::after {
  content: "▼";
  font-size: 24px;
  color: #333;
  position: absolute;
  right: 90px;
  top: 78%;
  transform: translateY(-70%);
  pointer-events: none;
}

#cont-select-form2:hover::after {
  color: #fff0bd;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 5px;
}

.botones .boton.rojo,
.botones .boton.verde {
  outline: none;
}

.botones .boton.rojo.btn, .botones .boton.verde.btn {
  font-size: 17px;
}

#cont .boton.rojo, #cont .boton.verde, #cont .boton.azul {
  outline: none;
}

#botoness-edicion .boton.rojo, #botoness-edicion .boton.verde {
  outline: none;
}

.modal-contenedor-eliminar {
  width: 620px;
  height: 240px;
  background-color: #fff0bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
}

.modal-contenedor-eliminar h2 {
  width: 500px;
  height: 50%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  color: #333;
}

#botoness {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

/* Estilos de la tabla */

.inventario-tabla {
  width: 90%;
  height: 47%;
  background-color: #C7DB9C;
  padding: 0;
  border: 15px solid #C7DB9C;
  border-radius: 15px;
  overflow-x: auto;

  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.inventario-tabla::-webkit-scrollbar {
  display: none; 
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tabla thead {
  background-color:#C7DB9C;
  color: black;
}

.t  {
  position: sticky;
  top: 0;
  z-index: 9;
}

.tabla th,
.tabla td {
  padding: 12px 10px;
  text-align: center;
}

.tabla td {
  color:black;
  font-weight: 500;
}

.tabla tbody tr {
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.tabla tbody tr:hover {
  background-color: gray;
}

.tabla tbody tr:hover td {
  color: white;
}

.tabla input[type="checkbox"] {
  transform: scale(1.3);
  accent-color: #FFF0BD; 
  cursor: pointer;
}
  
.tabla td, .tabla-P th {
  border-bottom: 2px solid #333;
}

.inputs {
  margin: 0;
  padding: 0;
  width: 180px;
  height: 30px;
  font-size: 1rem;
  background-color: #FFF0BD;
  color: #333;
  font-weight: 600;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: 2px solid #333;
}

#botoness-edicion {
  width: 100%;
  margin-right: 75px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: right;
  text-align: center;
}

#botoness-edicion .boton.verde, #botoness-edicion .boton.rojo{
  font-size: 15px;
}

/* modal de carga */

.modal-cargando {
  position: fixed;
  top: 0;
  left: 320px;
  width: 100%;
  height: 100%;
  background: #FFF0BD;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-contenido-c {
  width: 80%;
  height: 80%;
  text-align: center;
  font-weight: 500;
  align-content: center;
  justify-items: center;
  margin-right: 320px;

}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#000 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.loader::before {
  content: "Cargando...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#000 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}