.proveedores {
    flex-grow: 1;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .proveedores h1 {
    font-family: monospace;
    font-size: 80px;
    color: black;
    margin: 25px 0px;
  }
  
  #cont {
    width: 97%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .buscador {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid #333;
    background-color: #FFF0BD;
    margin-left: 1rem;
  }
  
  .buscador input {
    width: 80%;
    height: 60%;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #333;
    color: #333;
    font-size: 15px;
    border-radius: 10px;
  }
  
  .buscador svg {
    padding-left: 5px;
  }
  
  #cont button{
    font-size: 20px;
  }
  
  #cont-select {
    position: relative;
    display: inline-block;
    width: 130px;
  }
  
  #cont-select select {
    width: 100%;
    font-size: 23px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: #fff0BD;
    color: #333;
    cursor: pointer;
    padding: 8px 30px 8px 10px; 
    transition: border-color 0.3s ease;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none; 
  }
  
  #cont-select::after {
    content: '▼';
    font-size: 24px;
    color: #333;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-53%);
    pointer-events: none;
  }
  
  #select option{
    background-color: #333;
    color: #fff0BD;
  }
  
  #select:hover{
    background-color: #333;
    color: #FFF0BD;
  }
  
  #cont-select:hover::after {
    color:#FFF0BD; 
  }
  
  
  /* Estilos de la tabla */
  
  .proveedores-tabla {
    width: 90%;
    background-color: #C7DB9C;
    padding: 15px;
    border-radius: 15px;
    overflow-x: auto;
  }
    
  .tabla {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
    
  .tabla thead {
    background-color:#C7DB9C;
    color: black;
  }
    
  .tabla th, .tabla td {
    padding: 12px 10px;
    text-align: center;

  }
  
  .tabla td {
    color:black;
    font-weight: 500;
  }
    
  .tabla tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
  }
    
  .tabla tbody tr:hover {
    background-color: gray;
  }
  
  .tabla tbody tr:hover td { 
    color: white;
  }
    
  .tabla input[type="checkbox"] {
    transform: scale(1.3);
    accent-color: #FFF0BD; /* morado elegante */
    cursor: pointer;
  }
    
    /* Opcional: bordes suaves entre celdas */
  .tabla td, .tabla th {
    border-bottom: 2px solid #333;
  }
    
  
  