.sidebar {
    width: 320px;
    height: 100%;
    background: #C7DB9C;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.sidebar img {
    width: 290px;
    height: 110px;
    box-shadow: 0 0 10px #4e4e4e;
    margin-bottom: 20px;
}

.sidebar nav {
    text-align: center;
    width: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

.sidebar li {
    margin: 14px 8px;
    width: 94%;
    text-align: left;
    display: flex;
    border: 1px solid #827B7B;
}

.sidebar svg {
    flex-direction: row;
    padding-right: 5px;
    color: black;
}

.sidebar a {
    width: 80%;
    font-family: "Nova Square", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.sidebar li:hover {
    transform: scale(1.05);
    background-color: #FFF0BD;
}

.sidebar button {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 2px solid #338936;
    background-color: #ffffff;
    color: #338936;
    padding: 5px;
    font-size: 20px;
    outline: none;
}

.logout:hover {
    transform: scale(1.05);
    background-color: #338936;
    color: white;
}

.logout:hover svg {
    stroke: white;
}

